<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet"  type="text/css" href="style.css"/>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Orbitron&family=Rubik+Moonrocks&display=swap" rel="stylesheet">

    <title>Ani-Food</title>
</head>
<span>
<h1 class="ani_food" data-animation="stop">Ani-Food</h1> 

<div><a class="about" href="/about">About</a><a href="mailto:mylest913@gmail.com" class="about">Contact</a></div>
</span>

{{!-- <script>
    let aniFood = document.querySelector('ani_food')

    function stopAnimation(){
        aniFood.pause(aniFood)
        aniFood.addEventListener("click", stopAnimation())
    }
    
    stopAnimation()
</script> --}}


<a href="/newrecipe" class="submit_button">New Recipe</a>

<div class="content">
    {{#each data}}
    <h1 class="title">{{this.anime}}</h1>
    <h2 class="dish">{{this.dish}}</h2>
   <div class="content">

   
    <img alt="" class="image" src="{{this.anime_image}}" />  <img alt="" class="image" src="{{this.rl_image}}" /> 
    <br/>
   <p><h4 class="recipe">{{this.recipe}}</h4></p> 
    <a href="/home/{{this._id}}" class="submit_button">View and add comment</a>
   
   </div>
   
</div>

<hr>
{{/each}}

</html>