<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet"  type="text/css" href="style.css"/> --}}
    <title>Ani-Food</title>
</head>
<body>
   <div class="content">
    {{!-- {{#each data}} --}}
    <a href="/home">Go back...</a>
    <h1 class="title">{{data.anime}}</h1>
    <h3 class="dish">{{data.dish}}</h3>
   <div>
    <img alt="..." class="image" src="{{data.anime_image}}" />  <img alt="..." class="image" src="{{data.rl_image}}" /> 
    <br/>
    <h4 class="recipe">{{data.recipe}}</h4>
   </div>
   
</div>
</a>
{{!-- {{/each}} --}}
</body>
</html>