
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet"  type="text/css" href="style.css"/>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Orbitron&family=Rubik+Moonrocks&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <a href="/home"><h1> <p class="ani_food">Ani-Food</p></h1></a>
</header>


   <div class="content">
    {{!-- {{#each data}} --}}
    
    <h1 style="color: orange" class="title">{{data.anime}}</h1>
    <h3 class="dish">{{data.dish}}</h3>
   <div>
    <img alt="" class="image" src="{{data.anime_image}}" />  <img alt="" class="image" src="{{data.rl_image}}" /> 
    <br/>
    <h4 class="recipe">{{data.recipe}}</h4>
    <br>

    <form action="/home/:id/" method="POST">
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" class="input_form"/>

            <label for="comment">Comment:</label>
            <input id="comment" type="text" name="comment" class="input_form"/>
        </div>
        <input type="submit" class="submit_button"/>
    </form>

    <p>
        {{#each comments}}
        {{this.name}}
        {{this.comment}}
        {{/each}}

    </p>
  


   </div>
   
</div>
</a>
{{!-- {{/each}} --}}
</body>
</html>
